.docx-content-container {
    position: relative; 
    height: 100%;      
}

/* 아이콘과 첫 번째 문단을 위한 Flexbox 컨테이너 */
.icon-paragraph-group-docx {
    display: flex;
    align-items: flex-start; /* 아이콘과 텍스트 상단 정렬 */
    margin-bottom: 20px; /* 첫 번째 문단 아래 간격 */
    margin-right: 40px; /* 문단 오른쪽 간격 */
}

.Docx-icon {
    width: 137px;
    height: 137px;
    margin-right: 60px; /* 아이콘과 텍스트 사이 간격 */
    border-radius: 10px; /* 약간 둥근 모서리 */
}

/* Next 버튼  */
.next-button-docx {
    position: absolute;
    right: 0px;
    bottom: -128.3px;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: bold;
    color: #ffb300; /* 주황색 텍스트 */
    cursor: pointer;
    transition: color 0.3s ease;
    font-family: 'Arial', sans-serif; 
}
