.header {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.logo {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100px;
  height: auto;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: var(--nav-bg-color);
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 90%; 
  gap: 10rem;

}

.menu-item {
  position: relative;
  padding: 10px 5px; 
  cursor: pointer;
  transition: color 0.3s ease;
  font-weight: bold;
  color: orange;
  font-size: 0.9rem;
  text-decoration: none;
  white-space: nowrap; 
}

.menu-item:hover {
  color: var(--hover-color);
}

.menu-item.selected {
  position: relative;
  color: var(--active-menu-color);
  z-index: 1;
}

.menu-item.selected::before {
  content: '';
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 120%;
  height: 35%; 
  background: white;
  filter: blur(10px);
  opacity: 1;
  border-radius: 50px;
  z-index: -1;
}

